#container-top{
	width: 100%;
	height: 69%;
    padding: 15px;
    border: solid;
    
}

#game{
	display: inline-block;
	width:75%;
	float:left;
	
}

#log{
	display: inline-block;
	width:25%;
	float:left;

}

#container-bot{
 	width: 100%;
 	height: 30%;
    padding: 15px;
    border: solid;
}
